[submodule "yolo-train-routes-optimization"]
	path = yolo-train-routes-optimization
	url = https://github.com/5arSanti/yolo-train-routes-optimization.git
	branch = main
[submodule "tro-frontend"]
	path = tro-frontend
	url = https://github.com/5arSanti/tro-frontend.git
	branch = main
[submodule "tro-backend"]
	path = tro-backend
	url = https://github.com/5arSanti/tro-backend.git
	branch = main
